<h2>Profile</h2>

<div>
    <div>
        <img src="{{user.profilePic}}">
        <p>Name: {{user.name}} </p>
        <p>Email: {{user.email}} </p>

        <h3>Our business</h3>
        {{#each business}}
        <div>
            <p>{{name}}</p>

            <a href="/profile/"></a>
        </div>
        {{/each}}


        <h3>Our reviews</h3>
        {{#each review}}

        <div>
            <p>Title: {{reviewTitle}}</p>
            <p>Comment: {{comment}}</p>

            <form action='/profile/delete/review/{{id}}' method='post'>
                <button type='submit'>Delete</button>
            </form>

        </div>
        {{/each}}
    </div>

</div>
<a href="/profile/{{user._id}}/edit">Edit Profile Info</a>


<div>
</div>